.product {
	background-color: rgba(204, 186, 163, 0.757);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 65%;
	border-width: 10px;
	margin: auto;
	box-sizing: border-box;
	width: 53%;
	border: solid #5b6dcd 10px;
	padding: 5px;
	&__image {
		width: 23%;
		height: 35vh;
	}
	&__description {
		font-size: x-large;
		width: 90%;
	}
}
